name: Validate Gradle Wrapper
on:
  pull_request:
    branches: main

permissions:
  contents: read

jobs:
  validation:
    if: ${{ github.repository_owner == 'ihub-pub' }}
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # v3.5.0
