name: Validate Gradle Wrapper
on:
  pull_request:
    branches: main

permissions:
  contents: read

jobs:
  validation:
    if: ${{ github.repository_owner == 'ihub-pub' }}
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: gradle/wrapper-validation-action@9ba54b687bf0f59b62abbf91e0d60de082e8ebc4 # v3.4.1
