name: Validate Gradle Wrapper
on:
  pull_request:
    branches: main

permissions:
  contents: read

jobs:
  validation:
    if: ${{ github.repository_owner == 'ihub-pub' }}
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # v3.5.0
